.container {
  padding: 0 1.5rem;
}

.main {
  min-height: 50vh;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.inputf {
	display: flex;
	margin: auto;
	flex-direction: column;
	color: #0070f3;
	font-size: 1rem;
	margin-bottom: 1.25rem;
}

.logout {
	display: flex;
	margin-top: 5rem;
	align-items: center;
	justify-content: center;
	color: #0070f3;
	font-size: 1rem;
	margin-bottom: 1.25rem;
}

.label1 {
	display: flex;
	flex-direction: column;
	color: #0070f3;
	font-size: 1.25rem;

}

.label2 {
	display: flex;
	/* flex-direction: column; */
	color: #0070f3;
	font-size: 1.25rem;

}

.backbutton {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	color: #0070f3;
	font-size: 1.25rem;

}

.middle {
	font-size: 1.25rem;
	display: flex;
	margin: auto;
	margin-bottom: 1em;
	color: #0070f3;

}

.inputbox {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
}

.input{
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	outline: none;
}

.itemContainer {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 30%;
	margin: 5px 5px;
	

	/* justify-content:space-between; */
}

.itemImg {
	height: 200px;
	/* max-height: 250px; */
	width: 200px;
	/* max-width: 250px; */
}

.itemBodyContainer {
	width: 100%;
	height: 100%;
}

.itemText {
	width: 100%;
	height: 100%;
	font-size: 1rem;
	text-align: center;
}

.itemUnderline {
	border-top: 2px solid black;
	width: 95%;
}

.itemFooterContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	padding: 5px 10px;
}

.itemBtn {
	cursor: pointer;
	width: 50%;
	height: 30%;
	font-size: 0.6em;
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}

.roomsContainer {
	/* background-color: aquamarine; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.uploadfileform{
	background-color: aqua;
	margin: 2.5rem;

}
@media only screen and (max-width: 600px){ 
	.itemContainer{
		width: 50%;
		height: 50%;
	}

	.itemImg{
		width: 50px;
		height: 50px;                                                     
	}
	/*Tablets [601px -> 1200px]*/
}


@media only screen and (max-width: 425px){


	.itemContainer{
		width: 35%;
		height: 35%;
	}

	.itemText{
		font-size: small;
	}

	.itemImg{
		width: 75px;
		height: 75px;                                                     
	}
	/*Tablets [601px -> 1200px]*/ 
}